@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;


}

#Navigation {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-weight: 500;
}


.navbar-brand {
  padding-left: 80px;
}

.intro {
  line-height: 0.8;
}

.welcome {
  font-size: 72px;
  font-weight: 500;
  overflow-y: hidden;
  font-family: "Rubik", sans-serif;
}

.name {
  font-size: 50px;
  font-weight: 500;
  overflow-y: hidden;
  font-family: "Rubik", sans-serif;
}

@media only screen and (max-width: 600px) {

  
  .welcome {
    font-size: 50px;
    font-weight: 550;
  }

  .name {
    font-size: 25px;
    font-weight: 400;
  }
  .intro {
    line-height: 0.8;
  }

  .navbar-brand {
    padding-left: 1px;
  }
 
  .me{
    font-size: 12px;
  }

}

.aboutmebutton {
  overflow-y: hidden;
  text-align: start;
}

.aboutmebutton a {
 
    text-align: center;
  }

.aboutme {
  text-align: center;
  border-radius: 15px;
  padding: 25px;
  background-color: black;
  color: white;
  overflow-y: hidden;
  text-decoration: none;
  transition: 0.5s;
}

.aboutme:hover {
  color: red;
}

.nav-item a{
  border-bottom: 2px solid rgb(255, 255, 255);
  transition: 0.5s;
  transform: scaleX(1px);
}

.nav-item a:hover{
  color: black;
  border-bottom: 2px solid red;
}

.me {
  font-size: 25px;
}



.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.arrow {
  position: absolute;
  width: 2.1rem;
  height: 0.48rem;
  opacity: 0;
  transform: scale(0.3);
  animation: move-arrow 3s ease-out infinite;
}
.arrow:first-child {
  animation: move-arrow 3s ease-out 1s infinite;
}
.arrow:nth-child(2) {
  animation: move-arrow 3s ease-out 2s infinite;
}
.arrow:before, .arrow:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #020202;
}
.arrow:before {
  left: 0;
  transform: skewY(30deg);
}
.arrow:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}
@keyframes move-arrow {
  25% {
    opacity: 1;
 }
  33.3% {
    opacity: 1;
    transform: translateY(2.28rem);
 }
  66.6% {
    opacity: 1;
    transform: translateY(3.12rem);
 }
  100% {
    opacity: 0;
    transform: translateY(4.8rem) scale(0.5);
 }
}

.button{
  display: inline-block;
  padding: 20px 50px;
  margin: 20px 0;
  position: relative;
  color: #ecf0f1;
}

/* BUTTON 1 */

#button-1{
  border: 1px solid black;
  text-decoration: none;
  color: #000000;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 99;
}

#button-1:before{
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background-color: #d31710;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#button-1:hover{
  color: #ecf0f1;
  border: 1px solid #d31710;
}

#button-1:hover:before{
  left: 0;
}

#designs{
  color: rgb(0, 0, 0);
  transition: 0.5s;
}


#designs:hover{
  background-color: red;
  color: rgb(255, 255, 255);
}

#developments{
  color: rgb(3, 3, 3);
  transition: 0.5s;
}

#developments:hover{
  background-color: black;
  color: rgb(250, 248, 248);
}


.main3{
  height: 100vh;
}

.arrows{
  z-index: 100;
}

h4{
  text-transform: uppercase;
  border-left: 8px solid red;
  padding-left: 15px;
}
